Требования к функциональным характеристикам

· Добавлять/изменять/удалять характеристики об услугах.
+ Кто может добавлять/изменять/удалять? У кого какие права пользования?
· Осуществлять поиск услуг по базе данных.
+ Имеются ли фильтры для удобства поиска услуг по БД?
· Сортировать перечень услуг по различным категориям.
+ Какие виды сортировки есть - по дате, по стоимости, по возрастанию/убыванию и др.?
· Добавлять/изменять/удалять данные о клиентах.
+ Кто может добавлять/изменять/удалять? У кого какие права пользования?
· Составлять отчёты по оказанию услуг.
+ В каких форматах можно составлять отчёты?
· Контролировать/распределять оказание услуг.
+ Кто будет ответственный за контроль и распределение? Каким образом и какими документами будут контролироваться/распределяться оказание услуг?
Требования к надежности
Программный продукт должен быть надежным, хранить всю информацию в базах данных. При вводе данных (оформлении заказа) должна осуществляться проверка на корректность введённых данных. Необходимо реализовать автоматическое резервное копирование базы данных.
+ Требуется отчет о тестировании надежности? Как часто требуется резервное копирование?
Условия эксплуатации
Разрабатываемым программным продуктом может воспользоваться любой работник (разработчик, администратор и т.д.) «Интернет-центра». Для надежной работы программы пользователям (клиентам, заказчикам) необходимо, корректно использовать программный продукт, вводить верно значения. Клиент должен обладать основами правил простейшей компьютерной этики, для использования программного продукта.
+ Имеется документация для пользователей? Доступна документация для скачивания/ознакомления?
Требования к составу и параметрам технических средств
-- Объем оперативной памяти должен быть не менее 1 Гб.
+ Какой тип оперативной памяти DDR, DDR2, DDR3 и DDR4?
-- Процессор с тактовой частотой 1,6 ГГц или большей.
+ Какой вид процессора? Какой производитель (Intel, AMD, др.)?
-- Видеоадаптер, соответствующий стандарту DirectX 9 и поддерживающий разрешение экрана 1024 x 768, и обладающий объёмом памяти не менее 512 мб.
+ Какой производитель (NVIDIA, AMD, др.)? Какая частота, скорость памяти, энергопотребление?
-- 5 Гб доступного пространства на жёстком диске.
+ Какой вид жесткого диска (SSD, HDD)? Внешний или внутренний? Какой интерфейс? Какая скорость передачи? Какой производитель (WD, Seagate, Toshiba, др.)?
-- Наличие монитора, клавиатуры, мыши.
+ Максимальное/минимальное разрешение монитора? Проводная/беспроводная клавиатура и мышь? Возможные производители? 

Требования к информационной и программной совместимости
Разрабатываемая программа должна быть совместима с версиями Windows 7 и 8. Для ее работы отдельных программ и приложений устанавливать не требуется. Доступ к базе данных не является свободным.
+ Совместимость с Linux требуется? С более новыми версиями Windows нужна совместимость?
Требования к транспортированию и хранению
Транспортировка и хранение особых требований не имеет. Программный продукт поставляется в бумажных конвертах или твёрдых (пластмассовых) коробках, с прикреплённой необходимой для эксплуатации документацией и носитель информации с программным продуктом.
+ Транспортировка в любые регионы России и за рубеж?
Требования к программной документации
В программную документацию должны входить следующие документы: инструкция по эксплуатации разработанного программного продукта и инструкция по внедрению (установке и использованию) программного продукта. Может прилагаться пояснительная записка, техническое задание, а также руководство для пользователя и персонала «Интернет-Центра».
+ Документация в печатном виде или на флешке?
Технико-экономические показатели
Экономический эффект, то эффективность использования определяется на основании следующий показателей: трудоёмкость решения задачи, периодичность использования программного продукта, годовые текущие затраты, связанные с разработкой программного продута, отпускная цена программы, прирост условной прибыли, годовой экономический эффект, срок возврата инвестиций. Все показатели (экономическая эффективность) рассчитываются на стадии проектирования.
